!!!
%html{:dir => "ltr", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %title ARXViewer
    %link{:href => "http://www.kineticdata.com/images/favicon-orange.png", :rel => "icon", :type => "image/x-icon"}/
  %body
    .topbar
      .fill
        .container
          %a.brand{:href=>"/"}
            ARX Viewer
          %ul.nav
            %li.active
              %a{:href=>"#"}
                Home
            %li
              %a{:href=>"#"}
                About
    / topbar

    = yield
    .container
      %footer
        %p{:align=>"center"}
          &copy; John Sundberg 2011
    / container

